<?xml version="1.0" encoding="UTF-8"?>
<plugin title="cdc" loader="DEFAULT">
  <lifecycle-listener class="pt.webdetails.cdc.CdcLifeCycleListener"/>
  <static-paths>
    <static-path url="/cdc/static" localFolder="static"/>
  </static-paths>
  
  <content-types />
    <content-generator scope="local" id="cdc" type="graphicsGenerator" url="">
      <classname>pt.webdetails.cdc.CdcContentGenerator</classname>
      <title>CDC</title>
    </content-generator>
  <!-- Menu entry -->
  <menu-items/>
  
  <webservice  
    id="MondrianCacheCleanService" 
    type="xml" 
    class="pt.webdetails.cdc.ws.MondrianCacheCleanService"/>   
  <webservice  
    id="HazelcastMonitorService" 
    type="xml" 
    class="pt.webdetails.cdc.ws.HazelcastMonitorService"/>
  <webservice  
    id="HazelcastConfigurationService" 
    type="xml" 
    class="pt.webdetails.cdc.ws.HazelcastConfigurationService"/>
  <webservice  
    id="DashboardCacheCleanService" 
    type="xml" 
    class="pt.webdetails.cdc.ws.DashboardCacheCleanService"/>
    
</plugin>
