<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <!--(true|false) if true, pentaho's hazelcast instance will not store cache items-->
  <liteMode>true</liteMode>
  <!--(true|false) add verbose listeners -->
  <debugMode>true</debugMode>
  <!--(true|false) override configuration at startup -->
  <forceConfig>true</forceConfig>
  <!-- -Xmx argument for VM that is created if in liteMode and no instances found  -->
  <vmMemory>512m</vmMemory>
  
  <!--TODO-->
 
  <!-- external configurations -->
  <cdaConfig>
    <location>system/cda/plugin.xml</location>
    <beanID>cda.IQueryCache</beanID>
    <adapterClasses>
      <hazelcast>pt.webdetails.cda.cache.HazelcastQueryCache</hazelcast>
      <default>pt.webdetails.cda.cache.EHCacheQueryCache</default>        
    </adapterClasses>
  </cdaConfig>
  <mondrianConfig>
    <enabled>true</enabled>
    <location>system/mondrian/mondrian.properties</location>
    <adapterClasses>
      <hazelcast>pt.webdetails.cdc.mondrian.SegmentCacheHazelcast</hazelcast>
      <hazelcastMondrian33>pt.webdetails.cdc.mondrian.SegmentCacheHazelcastLegacy</hazelcastMondrian33>
      <default></default><!-- empty will fallback to default -->        
    </adapterClasses>
  </mondrianConfig>
 
  
</settings>